language: node_js
node_js:
  - "6"

env:
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm run build
  - npm run link
  - npm run test-coverage
  # - npm run test

after_success:
  - ./node_modules/.bin/codecov
  - npm run test-cross
