sudo: required
dist: trusty
language: node_js

cache:
  directories:
    - node_modules

addons:
  chrome: stable

node_js:
  - '14'

matrix:
  fast_finish: true

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

env:
  - NG_CLI_ANALYTICS=false

install:
  - npm install

script:
  - npm run ci.travis.lib
  - npm run ci.travis.demo
