<div class="container-fluid">
   
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Markdown</h3>
                </div>
                <div class="panel-body">
                    <form class="" action="index.html" method="post">
                        <textarea name="name" style="overflow-y:auto; height: 100vh" id="textbox" class="form-control" [(ngModel)]="markdownContent"></textarea>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">HTML</h3>
                </div>
                <div class="panel-body" style="overflow-y:auto; height: 100vh">
                    <markdown [data]='markdownContent'></markdown>
                </div>
            </div>
        </div>
    </div>
</div>