<div class="container-fluid">
   
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Markdown
                </div>
                <div class="card-body">
                    <form class="" action="index.html" method="post">
                        <textarea name="name" style="overflow-y:auto; height: 100vh" id="textbox" class="form-control" [(ngModel)]="markdownContent"></textarea>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    HTML
                </div>
                <div class="card-body" style="overflow-y:auto; height: 100vh">
                    <ngx-md [data]="markdownContent"></ngx-md>
                </div>
            </div>
        </div>
    </div>
</div>