<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            Markdown
        </div>
        <div class="card-body">
  <pre>
  | Tables   |      Are      |  Cool |
  |----------|:-------------:|------:|
  | col 1 is |  left-aligned | $1600 |
  | col 2 is |    centered   |   $12 |
  | col 3 is | right-aligned |    $1 |
  </pre>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">HTML</h3>
        </div>
        <div class="card-body">
          <markdown [data]="data">

          </markdown>
        </div>
      </div>
    </div>
  </div>
</div>
