<div class="container-fluid">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Markdown</h3>
      </div>
      <div class="panel-body">
<pre>
| Tables   |      Are      |  Cool |
|----------|:-------------:|------:|
| col 1 is |  left-aligned | $1600 |
| col 2 is |    centered   |   $12 |
| col 3 is | right-aligned |    $1 |
</pre>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">HTML</h3>
      </div>
      <div class="panel-body">
        <markdown>
        | Tables   |      Are      |  Cool |
        |----------|:-------------:|------:|
        | col 1 is |  left-aligned | $1600 |
        | col 2 is |    centered   |   $12 |
        | col 3 is | right-aligned |    $1 |
        </markdown>
      </div>
    </div>
  </div>

</div>
