<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">MD</h3>
        </div>
        <div class="card-body">
          <form class="" action="index.html" method="post">
            <textarea name="name" rows="8" cols="80" class="form-control" [(ngModel)]="marked"></textarea>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Live</h3>
        </div>
        <div class="card-body">
          <markdown [data]="marked"></markdown>
        </div>
      </div>
    </div>

  </div>


</div>
