<div class="container-fluid">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Markdown</h3>
      </div>
      <div class="panel-body">
        <pre>
&#x3C;markdown [path]=&#x22;'/assets/files/demo.md'&#x22;&#x3E; &#x3C;/markdown&#x3E;
&#x3C;div Markdown [path]=&#x22;'/assets/files/demo.html'&#x22;&#x3E; &#x3C;/div&#x3E;
&#x3C;div Markdown [path]=&#x22;'/assets/files/demo.cpp'&#x22;&#x3E; &#x3C;/div&#x3E;
&#x3C;div Markdown [path]=&#x22;'/assets/files/demo.java'&#x22;&#x3E; &#x3C;/div&#x3E;
        </pre>
      </div>
    </div>

  </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">HTML</h3>
        </div>
        <div class="panel-body">
          <pre>
            <markdown [path]="'assets/files/demo.md'"> </markdown>
          </pre>
          <div Markdown [path]="'assets/files/demo.html'"> </div>
          <div Markdown [path]="'assets/files/demo.cpp'"> </div>
          <div Markdown [path]="'assets/files/demo.java'"> </div>

        </div>
      </div>
    </div>
</div>
