<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Markdown</h3>
        </div>
        <div class="card-body">
          <pre>
  ## Todo example

- [x] Variable binding
- [x] Code refactor
- [x] Write more unit tests
- [ ] Module configuration for markdown settings
- [ ] Module configuration for prismjs settings
</pre>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">HTML</h3>
        </div>
        <div class="card-body">
          <markdown [data]="data">

          </markdown>
        </div>
      </div>
    </div>

  </div>
</div>
